# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
Project1/.vs/Project1/FileContentIndex/15a7023a-e2e5-4c93-ab67-5a338f5e165e.vsidx
Project1/.vs/Project1/FileContentIndex/507334b8-bead-44e8-aa85-5ac6b95ab4a3.vsidx
Project1/.vs/Project1/v17/.suo
Project1/.vs/Project1/v17/DocumentLayout.json
Project1/.vs/Project1/v17/Preview/Browse.VC.db
Project1/.vs/Project1/v17/Preview/ipch/AutoPCH/977a94f6c77ea497/TEST.ipch
Project1/Project1/Project1.vcxproj
Project1/Project1/Project1.vcxproj.filters
Project1/Project1/Project1.vcxproj.user
Project1/Project1.sln
Project1/.vs/Project1/CopilotIndices/17.14.995.13737/CodeChunks.db
Project1/.vs/Project1/CopilotIndices/17.14.995.13737/SemanticSymbols.db
*.tlog
*.user
*.filters
*.db
*.db-shm
*.sln
*.vsidx
*.db-wal
*.vcxproj
*.json
*.opendb
*.ipch
*.recipe
*.log
*.suo
*.idb
*.txt
